.hidden{
    display: none;
}

label{
    font-weight: 900;
    width: 150px;
    margin-left: 1rem;
    display: inline-block;
}

main{
    display: grid;
    justify-items: center;
}

section{
    margin-top: 1em;
    padding: 1rem;
}

table{
    border-collapse: collapse;
}
h1{
    color: green;
}

p{
    display: inline-block;
}