<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Cars</title>
</head>
<body><h1>all cars</h1>
    
    <% if (cars.length === 0) { %>
     <h3>no cars</h3>
    <% } %>

    
    <table>
        <thead>
            <th>model</th>
            <th>license</th>
        </thead>
        <tbody>
            <% cars.forEach(car => { %>
             <tr>
                <td><%= car.model %> </td>
                <td><%= car.lincese %> </td>
             </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/"></a>
    <a href="/cars">car table</a>
</body>
</html>